{% extends 'base.html' %}
{% block content %}
<div class="p-5 mb-4 bg-body-tertiary row justify-content-center rounded-3">

  <div class="col-6">
    <h1 class="display-5 fw-bold py-4 text-purple">About this website</h1>
        <p class="fs-4 py-2 text-purple">This project is a combination of my past as a classical pianist and my present as a novice programmer.</p>
        <p class="fs-4 py-2 text-purple">I've always wondered how I can discover new repertoire, as many piano works are overplayed.</p>
        <p class="fs-4 py-2 text-purple">I came upon Open Opus, an API that uses resources from IMSLP. It is not comprehensive, but I have enjoyed trying to use my new skills to do something useful for my musical life.</p>
  </div>
</div>
{% endblock %}