{% extends "base.html" %}
{% block content %}
<div class="p-5 mb-4 bg-body-tertiary row justify-content-center rounded-3">
      <div class="container-fluid col-6 py-5">
        <h1 class="display-5 fw-bold text-purple">The Classical Piano Catalogue</h1>
        <p class="fs-4 py-4 text-purple">Use our different search options to explore the classical piano repertoire. Find popular works, get lists of works by certain composers, or let us choose a random piece for you to discover!</p>
          <button class="btn btn-dark btn-lg bg-purple" type="button">Get started!</button>
      </div>
      <div class="container-fluid col py-5">
          <img src="static/assets/piano.jpg" class="rounded img-fluid" alt="antique piano"/>
      </div>
</div>



{% endblock %}