{% extends 'base.html' %}
{% block content %}

<div class="p-5 mb-4 bg-body-tertiary row justify-content-center rounded-3">

  <div class="col-6">
    <h1 class="display-5 fw-bold py-4 text-purple">Under Construction!</h1>
        <p class="fs-4 py-2 text-purple">The Open Opus API is not returning any information on popular works at the moment.</p>
        <p class="fs-4 py-2 text-purple">Besides, who gets to determine what is popular or not?</p>
        <p class="fs-4 py-2 text-purple">Sorry for the inconvenience, please return at another time to find out if I've figured it out!</p>
  </div>
</div>

{% endblock %}
